body.open-menu {
    overflow: hidden;
}
.header__wrapper {
    position: relative;
}
.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header {
    padding: 1rem 0;
}
.header .logo {
    text-align: left;
    font-size: 1.6rem;
}
.header__btn {
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    position: relative;
    z-index: 100;
    margin-right: 2rem;
}
.header__btn span {
    display: block;
    position: absolute;
    width: 90%;
    height: .1rem;
    background-color: var(--main-text-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.header__btn span::before, .header__btn span::after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: .1rem;
    background-color: var(--main-text-color);
    left: 50%;
    transform: translate(-50%, 0);
    transition: all 0.3s ease-in-out;
}
.header__btn span::before {
    top: -.7rem;
}
.header__btn span::after {
    bottom: -.7rem;
}
.header__btn.active {
    background-color: transparent;
}
.header__btn.active span {
    background-color: transparent;
}
.header__btn.active span::before {
    transform: rotate(45deg);
    left: 0;
    top: 0;
}
.header__btn.active span::after {
    transform: rotate(-45deg);
    left: 0;
    top: 0;
}
.cart__span-box {
    font-size: 2.2rem;
    display: flex;
    margin-right: 2rem;
    align-items: center;
}
.cart__span-box svg {
    display: block;
    width: 3rem;
    height: 3rem;
    fill: var(--main-text-color);
}
.cart__span {
    font-family: var(--title-font);
    display: block;
    margin-left: 1rem;
    color: var(--main-text-color);
}
.nav__title {
    font-family: var(--title-font);
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
    background-color: var(--first-brand-color);
    color: var(--main-text-color);
    padding: 1rem;
}
.nav__link {
    font-size: 2rem;
    cursor: pointer;
    color: var(--main-text-color);
}
.nav{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-bg-color);
    width: 100vw;
    height: 100vh;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    padding: 15rem 5rem 2rem;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.nav.open-menu {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}
.header__logo {
    display: block;
    text-align: center;
    position: relative;
    z-index: 100;
    color: var(--main-text-color);
}
.header-icon {
    display: block;
    width: 5rem;
}
.nav__sub-item {
    padding-left: 2rem; 
}
.nav__sub-item:not(:last-child) {
    margin-bottom: 1.5rem;  
}
.nav__item:not(:last-child) {
    margin-bottom: 3rem;  
}

@media screen and (min-width: 1440px) {
    .nav__link {
        position: relative;
    }
    .nav__link::after {
        position: absolute;
        display: block;
        content: '';
        height: .1rem;
        width: 0;
        background-color: var(--main-text-color);
        
        transition: all 0.3s ease-in-out;
        bottom: -.5rem;
        left: 0;
    }
    .nav__link:hover::after {
        width: 100%;
    }
    .cart__span-box {
        display: flex;
    }

    .home .cart__span-box svg  {
        fill: var(--sub-text-color);
    }
    .home .cart__span  {
        color: var(--sub-text-color);
    }

    .home .header__btn span, 
    .home .header__btn span::before, 
    .home .header__btn span::after {
        background-color: var(--sub-text-color);
    }
    .home .header__btn.active span::before,
    .home .header__btn.active span::after {
        background-color: var(--main-text-color);
    }
}