:root {
  --main-bg-color: #fff;
  --sub-bg-color: #000;
  --main-text-color: #000;
  --sub-text-color: #fff;
  --inactive: #818181;
  --success: #bee3be;
  --link-color: blue;
  --accent-color: #ff0000;


  --first-brand-color: #a7b8aa;
  --second-brand-color: #475b4a;
  --third-brand-color: #f5f5f5;

  --main-font:  'Open Sans';
  --title-font:  'Open Sans ExtraBold';
  --main-title-font: 'Julius Sans One';

  font-size: 62.5%;
}
